@import "tailwindcss";
@import "../themes/colors.css";
@plugin "./daisyui.js";

@theme {
    /* --breakpoint-*: initial; */
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;

    /* ------ Width % ------*/
    --width-*: initial;
    --width-xs: 28.5714286%;
    --width-sm: 42.8571429%;
    --width-mid: 57.1428571%;
    --width-lg: 71.4285714%;
    --width-xl: 85.7142857%;

/* ------ Height VH------*/
    --height-*: initial;
    --height-xs: 25vh;
    --height-sm: 33.333vh;
    --height-mid: 50vh;
    --height-large: 66.666vh;
    --height-xl: 75vh;
    --height-2xl: 80vh;
    --height-3xl: 90vh;


    /* ------ FontSize ------*/
    --font-size-2xs: 0.625rem;
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.5rem;
    --font-size-3xl: 1.875rem;
    --font-size-4xl: 2.25rem;
    --font-size-4_5xl: 2.5rem;
    --font-size-5xl: 3rem;
    --font-size-5_5xl: 3.5rem;
    --font-size-6xl: 3.75rem;
    --font-size-6_5xl: 4rem;
    --font-size-7xl: 4.5rem;
    --font-size-7_5xl: 5rem;
    --font-size-8xl: 6rem;
    --font-size-8_5xl: 7rem;
    --font-size-9xl: 8rem;
    --font-size-9_5xl: 9rem;
    --font-size-10xl: 10rem;
    --font-size-11xl: 11rem;
    --font-size-12xl: 12rem;


    
}