@import "tailwindcss";
@import "../themes/colors.css";
@plugin "./daisyui.js";

@theme {

    /* ------ Breakpoints ------*/
    /* --breakpoint-*: initial; */
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;

    /* ------ Width % ------*/
    --width-*: initial;
    --width-xs: 28.5714286%;
    --width-sm: 42.8571429%;
    --width-mid: 57.1428571%;
    --width-lg: 71.4285714%;
    --width-xl: 85.7142857%;

/* ------ Height VH------*/
    --height-*: initial;
    --height-xs: 25vh;
    --height-sm: 33.333vh;
    --height-mid: 50vh;
    --height-large: 66.666vh;
    --height-xl: 75vh;
    --height-2xl: 80vh;
    --height-3xl: 90vh;


    /* ------ FontSize ------*/
   
    --font-size-2xs: 0.625rem;
    /* 10px */
    --font-size-xs: 0.75rem;
    /* 12px */
    --font-size-sm: 0.875rem;
    /* 14px */
    --font-size-base: 1rem;
    /* 16px */
    --font-size-lg: 1.125rem;
    /* 18px */
    --font-size-xl: 1.25rem;
    /* 20px */
    --font-size-2xl: 1.5rem;
    /* 24px */
    --font-size-3xl: 1.875rem;
    /* 30px */
    --font-size-4xl: 2.25rem;
    /* 36px */
    --font-size-4_5xl: 2.5rem;
    /* 40px */
    --font-size-5xl: 3rem;
    /* 48px */
    --font-size-5_5xl: 3.5rem;
    /* 56px */
    --font-size-6xl: 3.75rem;
    /* 60px */
    --font-size-6_5xl: 4rem;
    /* 64px */
    --font-size-7xl: 4.5rem;
    /* 72px */
    --font-size-7_5xl: 5rem;
    /* 80px */
    --font-size-8xl: 6rem;
    /* 96px */
    --font-size-8_5xl: 7rem;
    /* 112px */
    --font-size-9xl: 8rem;
    /* 128px */
    --font-size-9_5xl: 9rem;
    /* 144px */
    --font-size-10xl: 10rem;
    /* 160px */
    --font-size-11xl: 11rem;
    /* 176px */
    --font-size-12xl: 12rem;
    /* 192px */


    
}