@font-face {
    font-family: 'GravisPersonalUseRegular';
    src: url('./fonts/GravisPersonalUseRegular-w1ZOx.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GroovedPersonalUseRegular';
    src: url('./fonts/GroovedPersonalUseRegular-9Y350.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Marianne';
    src: url('./fonts/Marianne-K7qYy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PrayerPersonalUseBold';
    src: url('./fonts/PrayerPersonalUseBold-BWnDx.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rijusans';
    src: url('./fonts/Rijusans-gwAvR.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RijusansItalic';
    src: url('./fonts/RijusansItalic-XGy2d.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}