@font-face {
    font-family: 'Dirtyboy';
    src: url('./fonts/Dirtyboy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dirtha';
    src: url('./fonts/Ditha.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Marianne';
    src: url('./fonts/Marianne.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nugo';
    src: url('./fonts/Nugo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dush';
    src: url('./fonts/Dush.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
